<h3><i class="fa fa-wrench"></i> Tools</h3>
<p>This is the <strong>Tools</strong> tab content.</p>
<p>This is a great place to put action buttons, forms for importers/exporters, or dashboards.</p>
<form>
    <div class="form-field">
        <label>Sample Action</label>
        <input type="text" placeholder="Enter some data" />
    </div>
    <div class="button-bar">
        <button type="submit" class="button primary">Run Tool</button>
    </div>
</form>
